  .createTaskBtn {
    border: 0;
    font-size: 18px;
    font-weight: 500;
    max-width: 275px;
    height: 48px;
    padding: 0 25px;
    border-radius: 20px;
    background-color: #F36D0C;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .createTaskBtn_mobile {
    background-color: #F36D0C;
    border: 0;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    min-width: 75px;
    min-height: 75px;
    display: none;
    position: fixed;
    z-index: 10;
    bottom: 10%;
    right: 10%;
  }

  .createTaskBtn_mobile > img {
    width: 40px;
    height: 40px;
  }
  
  .createTaskBtn:hover {
    transition: all 0.3s;
    background-color: #FB8E40;
  }

  .createTaskBtn:active {
    transition: all 0.1s;
    background-color: #D45B04;
  }
  .createTaskBtn_mobile:active {
    transition: all 0.1s;
    background-color: #D45B04;
  }

  @media (max-width: 1400px) {
    .createTaskBtn {
      max-width: 250px;
      height: 48px;
      font-size: 18px;
    }
  }

  @media (max-width: 920px) {
    .createTaskBtn {
      display: none
    }
    .createTaskBtn_mobile {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  @media (max-width: 520px) {
    .createTaskBtn_mobile {
      min-width: 45px;
      min-height: 45px;
    }
    .createTaskBtn_mobile > img {
      width: 25px;
      height: 25px;
    }
  }