.Error {
    display: flex;
    border-radius: 5px;
    background-color: #f8000098;
    color: white;
    height: 40px;
    align-items: center;

}

.Error_close {
    margin-right: 15px;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.Error_close > img{
    max-height: 20px;
    max-width: 20px;
}

.Error_message {
    min-width: 100%
}

.Error.closed {
    display: none;
}