.input__password_continer {
    position: relative;
}

.input__password_continer > input {
    padding-bottom: 16px;
    border-bottom: 1px solid #8D8686;
    margin-bottom: 40px;
    font-size: 24px;
    width: 100%;
}

.input__password_continer > input:focus {
    border-bottom: 2px solid black
}

.input__password_continer > div {
    position: absolute;
    right: 5px;
    top: 5px;
}
.input__password_continer > div::before {
   font-size: 32px;
   color: #8D8686;
}

.input__password_continer > input_active {
    color: black;
}

@media (max-width: 1400px) {

    .input__password_continer > input {
        padding-bottom: 12px;
        margin-bottom: 20px;
        font-size: 24px;
    }
    .input__password_continer > div::before {
        font-size: 24px;
     }

}
