.Button {
    border: 0;
    font-size: 18px;
    font-weight: 500;
    max-width: 275px;
    height: 48px;
    padding: 0 25px;
    border-radius: 20px;
    background-color: #868585;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.Button:hover {
    transition: all 0.3s ease;
    background-color: #9e9c9c;
}
.Button:active {
    transition: all 0.1s ease;
    background-color: #C1B9B9;
}

@media (max-width: 1400px) {
    .Button {
      max-width: 250px;
      height: 48px;
    }
}
@media (max-width: 400px) {
    .Button {
        font-size: 16px;
    }
}