.task_item__container {
    min-height: 180px;
    padding: 10px 0;
    min-width: 100%
}
.task__item {
    border: 1px solid black;
    border-radius: 24px;
    display:flex;
    justify-content: space-between;
    padding: 25px;
}
.task_item__content {
    display: flex;
    flex-direction: column;
    
}
.task_item__content > h3 {
    font-size: 35px;
    font-weight: normal;

}
.task_item__content > p {
    max-width: 90%;
    word-wrap: break-word;
    padding: 15px 0;
    font-size: 24px;

}
.timer_component_container {
    font-size: 18px;
}
.taskItem__btns {
    display: flex;
    flex-direction: column;
    
}

