@import "~@flaticon/flaticon-uicons/css/all/all";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.current{
  display: flex;
  flex-direction: column;
  min-width: 60%; 
  padding: 50px 25px;
}

.tasks__list{
  width: 100%;
  
}

/* React Transition Group */

.task-enter {
  opacity: 0;
}
.task-enter-active {
  opacity: 1;
  transition: all 1000ms;
}
.task-exit {
  opacity: 1;
}
.task-exit-active {
  opacity: 0;
  transition: all 1000ms;
}

 /*  */
 
.task_prior_checked {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  box-shadow: 0 0 1px black;
  border-radius: 50%;
}
.chose_prior_btn {
  margin: 15px 15px 15px 0;
}

/*  */

.active {
  text-decoration: underline;
}