.Urgently_wrapper {
    min-width: 80vw;
    display: flex;
    justify-content: center;
}
@media (max-width: 500px) {
    .Urgently_wrapper {
        min-width: none;
    }
}
.Urgently__container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px 25px;
}