@import "~@flaticon/flaticon-uicons/css/all/all";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');



body{
  overflow: hidden;
 
  /* min-width: 100vw;
  min-height: 100vh; */
}

#root{
  /* min-width: 100%;
  min-height: 100% */
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.App{
  display: flex;
  justify-content: center;
  width: 800px;

  /* background: rgba(0, 0, 0, 0.4); */
}

.tasks{
  width: inherit;
  /* margin: 50px; */

}
.tasks__list_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.task__item{
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  margin: 12px 0;
  display: flex;
  justify-content: space-between;
}

.TaskFilter {
  display: flex;
  max-height: 25px;
  align-items: center;
}

/* React Transition Group */

.task-enter {
  opacity: 0;
}
.task-enter-active {
  opacity: 1;
  transition: all 1000ms;
}
.task-exit {
  opacity: 1;
}
.task-exit-active {
  opacity: 0;
  transition: all 1000ms;
}

.taskItem__btns {
  display: flex;
  flex-direction: column;
}

.task_prior_checked {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  box-shadow: 0 0 1px black;
  border-radius: 50%;
}
.chose_prior_btn {
  margin: 15px 15px 15px 0;
}

/*  */

.reg_form_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.startpage {
  height: 100%;
  width: 100%;
  color: #FCF9F9;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F36D0C;
}

.startpage > h1 {
  opacity: 0;
  font-family: Inter;
  font-size: 90px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.startpage__h1__visible {
  opacity: 1 !important;
  transition: all 1s linear;
  text-shadow: black 0px 2px;
}

@media (max-width: 500px) {
  .startpage > h1 {
    font-size: 35px;
  }
}

.Auth_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.TodayPage_wrapper {
  width: 800px;
  display: flex;
  justify-content: center;
}

.active {
  text-decoration: underline;
}

/* menu page */

.menu__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 80px;
}

.menu__header {
  display: flex;
  align-items: center;
  max-width: 1760px;
  width: 100%;
  justify-content: space-between;
  margin: 137px 0 89px 0 
}

.menu__header > h1 {

  font-family: Inter;
  font-size: 50px;
  font-weight: 500;
}

.menu__header_avatar {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: #D7D2D1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-size: 35px;
  font-weight: 400;
}

.menu__items {
  display: flex;
  max-width: 1190px;
  min-height: 442px;
  max-height: 600px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu__items_item {
  display: flex;
  width: 560px;
  height: 186px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: 2px solid black;
  background: #EDE8E8;
}

.menu__button_container {
  display: flex;
  max-width: 1760px;
  width: 100%;
  justify-content: flex-end;
}

.createTaskBtn {
  border: 0;
  font-size: 24px;
  font-weight: 500;
  width: 314px;
  height: 78px;
  border-radius: 20px;
  background-color: #F36D0C;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 96px;
  margin-bottom: 213px;
}

@media (max-width: 1400px) {
  .menu__items {
    justify-content: center;
    column-gap: 35px;
    min-height: 350px;
    max-width: 750px;
    overflow-y: auto;
  }
   .menu__items_item {
    width: 350px;
    height: 130px;
    border: 1px solid;
    border-radius: 30px;
   }
  .menu__header {
    margin: 0px 0 50px 0 
    
  }
  .createTaskBtn {
    width: 250px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;
  }
}


/*  */