@import "~@flaticon/flaticon-uicons/css/all/all";

body{
  overflow: hidden;
}

#root{
  min-width: 100vw;
  min-height: 100vh;
  /* background: url(../src/Media/Backgrounds/default_workspace.jpg) center/cover no-repeat fixed; */
}
.App{
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  /* background: rgba(0, 0, 0, 0.4); */
}

.tasks{
  width: 800px;
  margin: 50px;

}
.tasks__list_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task__item{
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  margin: 12px 0;
  display: flex;
  justify-content: space-between;
}

/* React Transition Group */

.task-enter {
  opacity: 0;
}
.task-enter-active {
  opacity: 1;
  transition: all 1000ms;
}
.task-exit {
  opacity: 1;
}
.task-exit-active {
  opacity: 0;
  transition: all 1000ms;
}

.taskItem__btns {
  display: flex;
  flex-direction: column;
}

.task_prior_checked {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  box-shadow: 0 0 1px black;
  border-radius: 50%;
}
.chose_prior_btn {
  margin: 15px 15px 15px 0;
}