@import "~@flaticon/flaticon-uicons/css/all/all";
/* @import "~@flaticon/flaticon-uicons/css/fi-rs/flame";
@import "~@flaticon/flaticon-uicons/css/fi-bs/flame";   */


#root{
  min-width: 100vw;
  min-height: 100vh;
  /* background: url(../src/Media/Backgrounds/default_workspace.jpg) center/cover no-repeat fixed; */
}
.App{
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  /* background: rgba(0, 0, 0, 0.4); */
}

.tasks{
  width: 800px;
  margin: 50px;

}
.tasks__list_header{
  display: flex;
  justify-content: space-between;
}

.task__item{
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  margin: 12px 0;
  display: flex;
  justify-content: space-between;
}

.taskItem__btns {
  display: flex;
  flex-direction: column;
}